

.primary_btn {
    color: $wh_color;
    font-size: $sm_size;
    @include medium_typography;
    text-transform: capitalize;
    padding: 15px 25px;
    border-radius: 8px;
    background-image: $brand_gradient;

    svg {
        width: 24px;
        height: 24px;
        color: $wh_color;
        margin-left: 10px;
    }

    &:hover {
        color: $wh_color;
        text-decoration: none;
        background-image: $gradient_hover;
    }
}