

// PROPERTY CARD
.property_card {
    width: 340px;
    padding: 12px;
    border-radius: 8px;
    background: $wh_color;
    box-shadow: $large-shadow;

    .property_thumb {
        position: relative;

        img {
            width: 100%;
            border-radius: 8px;
        }

        .property_overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: $background_overlay;

            h3 {
                color: $wh_color;
                font-size: $xmd_size;
                @include medium_typography;
                position: absolute;
                bottom: 15px;
                left: 15px;

                span {
                    font-size: $xsm_size;
                    @include regular_typography;
                }
            }

            .thumb_icon {
                position: absolute;
                bottom: 15px;
                right: 15px;
                width: 100px;

                a {
                    cursor: pointer;
                    color: $wh_color;
                    width: 40px;
                    height: 35px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 5px;
                    background: rgba(0, 0, 0, 0.5);
                    display: inline-block;
                    margin: 0px 3px;
                }
            }
        }
    }

    .property_content {
        padding: 0px 10px;

        .property_descrip {
            li {
                @include flex_center;
                justify-content: start;
                padding: 15px 0px !important;
                border-bottom: 1px solid $border_color;

                i {
                    color: $text_color;
                    font-size: $xmd_size;
                    margin-right: 10px;
                }

                p {
                    color: $text_color;
                    font-size: $xsm_size;
                    @include regular_typography;
                }

                h3 {
                    color: $text_color;
                    font-size: $md_size;
                    @include medium_typography;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }

        .property_icon {
            @include flex_center;
            justify-content: space-between;
            padding: 3px 0px 3px !important;
            border-top: 1px solid #eeeeee;

            li {
                text-align: center;

                i {
                    color: $heading_color;
                    font-size: $xmd_size;
                }

                p {
                    color: $text_color;
                    font-size: 12px;
                    @include medium_typography;
                    text-transform: capitalize;
                }
            }
        }

        .property_author_content {
            @include flex_center;
            justify-content: space-between;
            border-top: 1px solid #eeeeee;
            padding-top: 15px;

            .property_author {
                @include flex_center;
                justify-content: start;

                .author_img {
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 2px solid $brand_color;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid $wh_color;
                    }
                }

                ul {
                    li {
                        a {
                            color: $heading_color;
                            font-size: $xsm_size;
                            @include medium_typography;
                            text-transform: capitalize;
                        }
                    }

                    li:nth-child(2) {
                        color: $heading_color;
                        font-size: $xsm_size;
                        @include regular_typography;
                        text-transform: capitalize;
                        margin-top: 2px;
                    }
                }
            }

            .property_dots {
                color: $heading_color;
                font-size: 12px;
                cursor: pointer;
                width: 25px;
                height: 35px;
                line-height: 32px;
                text-align: center;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
}